/* main window */
body {
	font-family: Verdana,Arial,sans-serif;
	font-size: 10pt;
	padding: 0;
	margin: 0;
	background: #E9F4FA;
	color: #333333;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

b,strong {
	color: #033163;
}

div.menu_bar {
	display: flex;
	align-items: center;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 2px;
	margin: 0;
	background: #ffffff;
	flex: 0 0 auto;
}
div.menu_bar > div {
	padding: 0 2px 0 2px;
}
div.menu_bar > div:first-child:nth-last-child(1) {
	flex: 1 1 auto;
	text-align: center;
}
div.menu button,a.ui-button {
	font-size: 85%;
}
ul#menuTables {
}
ul#menuQueries {
}
div#motd {
	display: none;
	font-weight: bold;
	font-size: 80%;
}
div#table_info {
	font-weight: bold;
	font-size: 80%;
}
div#table_nav {
}
div#table_search {
}
div#table_buttons {
}
form#search_form {
	display: inline;
}
form#search_form input {
	margin: 0px;
}
form#downloadOneForm {
	display: none;
}

/* menus */
div.menu ul.ui-menu {
	position: fixed;
	z-index: 2;
	min-width: 250px;
}
div.menu ul.ui-menu.small {
	min-width: 25px;
}

/* content area */
div#content {
	flex: 1 1 auto;
	z-index: 1;
	border: none;
	overflow: scroll;
}
div.homepage#content {
	overflow: hidden;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

/* autocomplete (global search on home screen) */
div#global_search {
	padding-top: 40px;
}
div#global_search input#search_term {
	font-size: 125%;
	width: 420px;
}

ul.ui-autocomplete {
	width: 420px;
	list-style: none;
	padding-bottom: 10px;
	overflow: scroll;
	position: relative;
}

ul.ui-autocomplete li.ui-autocomplete-category {
	font-weight: bold;
	margin: .8em 0 .2em .5em;
	line-height: 1.5;
}
ul.ui-autocomplete li.ui-menu-item {
	margin: 0 0 0 1.5em;
	width: auto;
}
.ui-autocomplete-loading {
	background: white url('jquery-ui/images/ui-anim_basic_16x16.gif') right center no-repeat;
}

/* ad hoc sql */
div#adhoc_query {
	padding: 40px 0;
}
div#adhoc_query input#adhoc_sql {
	width: 420px;
	font-size: 100%;
}

@media (max-width: 460px) {
	div#global_search input#search_term,
	ul.ui-autocomplete,
	div#adhoc_query input#adhoc_sql {
		width: 95%;
	}
}

/* debug/log window */

pre#debug { 
	white-space: pre-wrap;
	grid-column: 1 / 5;
}

/* list table */
table {
	width: 100%;
	border-collapse: collapse;
}
thead {
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	z-index: 2;
	padding-top: 2px;
	background: #E9F4FA;
}
thead th:first-child {
	position: sticky;
	left: 0px;
	background: #E9F4FA;
	z-index: 3;
}
th, td {
	white-space: nowrap;
	overflow: hidden;
}
th:first-child, td:first-child {
	padding-left: 10px;
}
tr {
	height: 29px;
}
tbody tr:nth-child(odd) {
	background: #ffffff;
}
tbody tr.selected {
	background: #18498F;
	color: #fff;
}
th {
	color: #033163;
	font-size: 100%;
	text-align: left;
}
th .sort-button {
	background-color: transparent ! important;
	border: none ! important;
	padding-left: 0px;
	margin-left: 0px;
	font-size: 100% ! important;
	font-weight: bold ! important;
	color: #033163;
}
th .sort-button.column-sorted , th .sort-button:HOVER {
	text-decoration: underline;
}
.sort-button .ui-icon {
	background-image: url(jquery-ui/images/ui-icons_18498F_256x240.png);
}
.sort-button .ui-button-text {
	padding-left: 0px;
}
th .filter-outer {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}
th .filter-button {
	background-image: url(jquery-ui/images/ui-icons_333333_256x240.png);
	background-position: -64px 0;
	width: 16px;
	height: 16px;
}
th .filter-button.filter-active {
	background-image: url(jquery-ui/images/ui-icons_18498F_256x240.png);
	background-position: -80px -128px;
	cursor: pointer;
}
th .filter-select {
	color: #888888;
	background: inherit;
	-moz-appearance: none;
	-webkit-appearance: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
}
th .filter-select.filter-active {
	font-weight: bold;
	color: inherit;
}
td {
	padding: 0 5px 0 2px;
}
td.edit-delete-buttons {
	position: -webkit-sticky;
	position: sticky;
	left: 0px;
}
tr:nth-child(odd) td.edit-delete-buttons {
	background: white;
}
tr.selected td.edit-delete-buttons {
	background: #395E93;
}
td.edit-delete-buttons .ui-buttonset {
	display: inline-block;
}

span.sql-null {
	/* if SQL NULL values should show in table view, make this element visible */
	display: none;
	background: #ddd;
	color: #fff;
	padding: 0 2px 0 2px;
}

/* dialog window */
div#dialog_window {
}

div.ui-dialog {
	display: flex;
	flex-flow: column nowrap;
}
div.ui-dialog-titlebar,
div.ui-dialog-buttonpane {
	flex: 0 0 auto;
}
div.ui-dialog-content {
	flex: 1 0 auto;
}
.ui-dialog-buttonpane {
	margin-top: 0 !important;
	clear: both;
}

/* edit form */
form {
	margin-top: 10px;
	border: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
form .non-field-errors {
	display: none;
}
form .non-field-errors.ui-state-error {
	display: block;
	grid-column: 1 / 5;
	padding: 5px;
}
form label {
	grid-column: 1 / 2;
	padding: 0 0 10px 0;
	color: #10447D;
}
form div {
	grid-column: 2 / 5;
	margin: 0 0 10px 0;
}
form input,select {
	border: none;
	background: #E9F4FA;
	padding: 2px 5px;
}
form select {
	box-shadow: none;
	border-radius: 0px;
	-webkit-appearance: none;
	display: inline-block;
	max-width: 75%;
}
form textarea {
	height: 90px;
	width: 90%;
}
form pre {
	white-space: pre-wrap;
	padding: 0 0 10px 0;
	margin: 0;
}
form input[readonly=readonly] {
	color: #333;
	background-color: #eee;
}
form .changed-value {
	border: 1px solid #18498F;
	color: #18498F;
	padding: 1px 4px;
}
form output.field-error {
	display: none;
}
form .ui-state-error {
	padding: 5px;
}
form .ui-state-error output.field-error {
	display: block;
	font-size: 95%;
	margin: 5px 0 0 0;
}
.foreign-table-button {
	height: 1.5em;
	width: 1.5em;
	background-color: transparent ! important;
	border: none ! important;
}

div.record_header {
	/*background-color: #ddd;
	color: #10447D;*/
	background-color: #92A4C4;
	color: #000;
	margin: 5px 0px 10px 0px;
	padding: 3px;
	text-align: center;
}

div#related_records button {
	font-size: 90%;
	background-color: #fff;
	height: 2em;
	margin-bottom: 4px;
	border: none;
}

div#related_records button.ui-state-hover {
	background-color: #627DAA;
}

/* query editor */
div[aria-describedby="query_window"] {
	overflow: visible;
}

form#edit-query {
	overflow: visible;
	display: block;
}

form#edit-query label {
	width: 125px;
	clear: left;
	float: left;
}

form#edit-query textarea {
	width: 430px;
	height: 200px;
}

form#edit-query ul.ui-menu {
	width: 200px;
	float: right;
}

#query_window #columns-outer label {
	float: none;
	margin-bottom: 4px;
}

form#edit-query ul.ui-menu ul.ui-menu {
	width: 250px;
	z-index: 10;
}

